.main {
  grid-area: main;
  text-align: center;

  display: grid;
  grid-template-areas:
    "searchBar"
    "subMain";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
